In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn import linear_model
from scipy import stats
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler

In [3]:
data=pd.read_excel("D:/New folder/Semester 3/ADY301m/file csv/df_data_house.xlsx")
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Binary_Price
0,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1
2,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,1
4,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,1

In [4]:
x=data[["bedrooms", "bathrooms", "sqft_living", "sqft_lot","waterfront","floors", "grade"]]
y=data["price"]
y_bi=data["Binary_Price"]

x=sm.add_constant(x)

model=sm.OLS(y,x).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.582
Model:                            OLS   Adj. R-squared:                  0.581
Method:                 Least Squares   F-statistic:                     4290.
Date:                Fri, 18 Oct 2024   Prob (F-statistic):               0.00
Time:                        08:16:51   Log-Likelihood:            -2.9819e+05
No. Observations:               21613   AIC:                         5.964e+05
Df Residuals:                   21605   BIC:                         5.965e+05
Df Model:                           7
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const       -4.805e+05   1.43e+04    -33.636      0.000   -5.08e+05   -4.52e+05
bedrooms    -3.482e+04   2211.105    -15.748      0.000   -3.92e+04   -3.05e+04
bathrooms    -1.39e+04   3547.867     -3.918      0.000   -2.09e+04   -6945.158
sqft_living   213.1015      3.516     60.605      0.000     206.209     219.994
sqft_lot       -0.3414      0.040     -8.562      0.000      -0.420      -0.263
waterfront   7.955e+05   1.88e+04     42.217      0.000    7.59e+05    8.32e+05
floors      -3.802e+04   3589.470    -10.593      0.000   -4.51e+04    -3.1e+04
grade        1.019e+05   2284.361     44.598      0.000    9.74e+04    1.06e+05
==============================================================================
Omnibus:                    15017.098   Durbin-Watson:                   1.981
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           740935.632
Skew:                           2.775   Prob(JB):                         0.00
Kurtosis:                      31.142   Cond. No.                     5.14e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.14e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [5]:
# Há»“i quy logistic
model2=sm.Logit(y_bi, x).fit()

print(model2.summary())

Optimization terminated successfully.
         Current function value: 0.496929
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:           Binary_Price   No. Observations:                21613
Model:                          Logit   Df Residuals:                    21605
Method:                           MLE   Df Model:                            7
Date:                Fri, 18 Oct 2024   Pseudo R-squ.:                  0.2830
Time:                        08:18:13   Log-Likelihood:                -10740.
converged:                       True   LL-Null:                       -14980.
Covariance Type:            nonrobust   LLR p-value:                     0.000
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -8.8097      0.187    -47.058      0.000      -9.177      -8.443
bedrooms       -0.1277      0.025     -5.177      0.000      -0.176      -0.079
bathrooms      -0.1926      0.037     -5.145      0.000      -0.266      -0.119
sqft_living     0.0012   4.35e-05     28.320      0.000       0.001       0.001
sqft_lot     7.153e-07   5.07e-07      1.410      0.159   -2.79e-07    1.71e-06
waterfront      2.5971      0.382      6.798      0.000       1.848       3.346
floors         -0.1209      0.036     -3.356      0.001      -0.191      -0.050
grade           0.9784      0.028     34.836      0.000       0.923       1.033
===============================================================================

In [4]:
residuals = model.resid

# TÃ­nh MSE
MSE = np.mean(residuals**2)
print("MSE:", MSE)

# TÃ­nh RMSE
RMSE = np.sqrt(MSE)
print("RMSE:", RMSE)

MSE: 61371054774.52786
RMSE: 247731.82027048495

In [ ]:
#spliting
from sklearn.model_selection import train_test_split

In [ ]:
#Traning
from sklearn.tree import DecisionTreeRegressor
dt_model=DecisionTreeRegressor(random_state=1)